<form method="post">
    <input name="Name" placeholder="Name" />
    <input name="Email" placeholder="Email" />
    <textarea name="Message"></textarea>
    <button type="submit">Save</button>
</form>