@{
    Layout = "_Layout";
}

<h1>Welcome to My Personal Website</h1>
<p>This is a simple ASP.NET MVC front-end project.</p>
<p>By:  Boquiren, Zyryl R. | BSCS 3-2 | Application Development.</p>

<section class="card">
    <h2>Features</h2>
    <ul>
        <li>MVC Structure</li>
        <li>Responsive Layout</li>
        <li>Front-end Focused</li>
    </ul>
</section>