body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    padding: 15px;
}


nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 5px;
}

form {
    background: white;
    padding: 20px;
    max-width: 400px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
}